.project-background {
    min-height: 100vh;
    background: url('../diagram-pencil-ruler.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    padding-top: 4rem;
}

.project:before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.469);
    z-index: 0;
}

.project > * {
    position: relative;
    z-index: 3;
}

.project-inputs-container {
    background: #ecebeb;
    border-radius: 12px;
    padding: 1.2rem 0.8rem;
    box-shadow: 0 1px 6px rgba(25, 118, 210, 0.06);
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.project-inputs-container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: #1976d2;
}
.create-project-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    color: #2d7c78;
}