.support-background {
    min-height: 100vh;
    background: url('../support.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    padding-top: 4rem;
}

.support-background:before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.387);
    z-index: 0;
}

.support > * {
    position: relative;
    z-index: 3;
}