.task-list-background {
    min-height: 100vh;
    background: url('../blueprint-table.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    padding-top: 4rem;
}

.task-list:before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.469);
    z-index: 0;
}

.task-list>* {
    position: relative;
    z-index: 3;
}